<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    {#    google icons#}
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    {#    icon on tab#}
     <link rel="shortcut icon" href="https://scontent.fbey5-1.fna.fbcdn.net/v/t1.0-9/21751379_1733263903643852_2063439652329962621_n.png?_nc_cat=101&_nc_ht=scontent.fbey5-1.fna&oh=3815ab500be66dad0614f6bce816ddbb&oe=5D44A55C" />
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="{% static 'draftapp/css/details.css' %}" rel="stylesheet" type="text/css">
</head>
{#<body style="background-color:powderblue;">#}
<body >

    <h1>Information about: {{ student.First_Name }} {{ student.Last_Name }}</h1>
    <hr/>
    <div class="row justify-content-around">
        <div class="col-6">
            <ul>
                <li>First Name: {{ student.First_Name }}</li>
                <li>Last Name:{{ student.Last_Name}}</li>
                <li>Student ID:{{ student.id}}</li>
                <li>Sex:{{ student.Sex }}</li>
                <li>Grade:{{ student.Grade }}</li>
                <li>Nationality:{{ student.Nationality }}</li>
                <li>Born in:{{ student.Born_in }}</li>
                <li>Father:{{ student.Father }}</li>
                <li>Mother:{{ student.Mother}}</li>
                <li>City:{{ student.City }}</li>
                <li>Address:{{ student.Address }}</li>
                <li>Building:{{ student.Building }}</li>
                <li>Floor:{{ student.Floor }}</li>
                <li>Fixed:{{ student.Fixed }}</li>
                <li>Mobile:{{ student.Mobile }}</li>
                <li>Medical State:{{ student.Medical_state }}</li>
                <li>Bloodtype:{{ student.Student_Bloodtype }}</li>
                <li>Guardian:{{ student.Sex }}</li>
                <li>Guardian's Phone Number:{{ student.Guardian_Phone }}</li>
                <li>Guardian's Level of Education:{{ student.Guardian_Level_of_Education }}</li>
                <li>Guardian City:{{ student.Guardian_City }}</li>
                <li>Guardian Address:{{ student.Guardian_Address }}</li>
                <li>Guardian Building:{{ student.Guardian_Building }}</li>
                <li>Guardian Bloodtype:{{ student.Guardian_Bloodtype }}</li>
            </ul>
        </div>
        <div class="col-3">
            <ul>
                <li><a href="/registration/student/edit/{{ student.id }}" class = "button btn" >Update Fields</a></li>
                <li><a href="/registration/deleteds/{{ student.id }}" class = "button btn" >Delete Record</a></li>
                <li><a href={% url 'views' %} class="btn btn-danger">Back</a></li>
            </ul>
        </div>
        <div class="col-3"> <img src="https://www.fede.education/wp-content/uploads/2018/02/LOGO_UNIVERSAL-SCHOOL.jpg" class="img-fluid" alt="logo" ></div>
    </div>

</body>
</html>